//
// FONTS
//

//
// Define fonts here
//





//////////////////////////////////////////////////////////////////////
// FONT A
//////////////////////////////////////////////////////////////////////


//
// REGULAR
//

@font-face {
    font-family: 'fonta';
    src: url('/fonts/a1/font1-regular.woff2') format('woff2'),
         url('/fonts/a1/font1-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//
// REGULAR
//

@font-face {
    font-family: 'fonta-bold';
    src: url('/fonts/a1/font1-bold.woff2') format('woff2'),
         url('/fonts/a1/font1-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





//////////////////////////////////////////////////////////////////////
// FONT B
//////////////////////////////////////////////////////////////////////


//
// REGULAR
//

@font-face {
    font-family: 'fontb';
    src: url('/fonts/a2/montserrat-regular.woff2') format('woff2'),
         url('/fonts/a2/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}