//
// HEADINGS
//





//////////////////////////////////////////////////////////////////////
// VARIABLES
//////////////////////////////////////////////////////////////////////




$font-size-h1: $font-size-unit * 2.2;
$font-size-h2: $font-size-unit * 1.8;
$font-size-h3: $font-size-unit * 1.55;
$font-size-h4: $font-size-unit * 1.35;
$font-size-h5: $font-size-unit * 1.20;
$font-size-h6: $font-size-unit * 1;




//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: $spacing-s;
	font-family: fonta-bold;
	font-weight: bold;
	color: $global-color-text;
}


h1 { font-size: $font-size-h1 }
h2 { font-size: $font-size-h2 }
h3 { font-size: $font-size-h3 }
h4 { font-size: $font-size-h4 }
h5 { font-size: $font-size-h5 }
h6 { font-size: $font-size-h6 }